@model TimesheetApp.ViewModels.HomeViewModel

<form method="post" style="width: 100%">
    <div class="row">
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" asp-action="AddRow">Add Row</button>
            <button class="btn btn-success" type="submit" asp-action="Submit">Submit</button>
        </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-1"></div>
        <div class="col-2"></div>
        @for (var i = 0; i < Model.DateName.Count(); i++)
        {
            <div class="col-1 text-center">
                <h5>@Model.DateName.ElementAt(i)</h5>
                <h5>(@Model.SimpleDate.ElementAt(i))</h5>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-2">
            <select class="form-select" aria-label="Select project">
                <option>Select Project</option>
                @foreach (var project in Model.Projects)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        </div>
        <div class="col-1">
            <select class="form-select" aria-label="Select billing">
                <option>Select Bill</option>
                @foreach (var billing in Model.BillingCategories)
                {
                    <option model="billing" value="@billing.Id">@billing.Name</option>
                }
            </select>
        </div>
        <div class="col-2">
            <select class="form-select" aria-label="Select billing">
                <option>Select Activity</option>
                @foreach (var activity in Model.Activities)
                {
                    <option model="billing" value="@activity.Id">@activity.Name</option>
                }
            </select>
        </div>
        @foreach (var workingDay in Model.WorkingDays)
        {
            <div class="col-1">
                <input class="text-center input-working-day" value="@workingDay.WorkHour" name="monday" />
            </div>
        }
    </div>
</form>
